PContest2022/Library/
Pcontest2022/Logs/shadercompiler-UnityShaderCompiler.exe2.log
PContest2022/Logs/AssetImportWorker4-prev.log
SH2/Library/SourceAssetDB-lock
SH2/Library/
SH2/Logs/
SH2/Packages/Microsoft.Azure.Kinect.BodyTracking.1.1.2/content/dnn_model_2_0_lite_op11.onnx
SH2/Packages/Microsoft.Azure.Kinect.BodyTracking.1.1.2/content/dnn_model_2_0_op11.onnx
SH2/Packages/Microsoft.Azure.Kinect.BodyTracking.ONNXRuntime.1.10.0/lib/native/amd64/release/
SH2/Packages/Microsoft.Azure.Kinect.Sensor.1.4.1/ThirdPartyNotices.txt
SH2/Packages/
